:root {
    --bg-dawn: url(/src/images/dawn.png);
    --bg-dawn-s: url(/src/images/dawn-s.png);
    --bg-dawn-color: #CD90B9;
    --theme-dawn-color: #474476;
    --theme-dawn-dark: #8C4968;
    --theme-dawn-op: #0b144394;
    --theme-dawn-accent: #f79aef;
    --theme-dawn-font: #fabf68;
    --theme-dawn-font-l: #fa9fca;

    --bg-dusk: url(/src/images/dusk.png);
    --bg-dusk-s: url(/src/images/dusk-s.png);
    --bg-dusk-color: #4888B7;
    --theme-dusk-dark: #202D40;
    --theme-dusk-color: #151f53;
    --theme-dusk-op: #202d40c5;
    --theme-dusk-accent: #7efaad;
    --theme-dusk-font: #da7cf7;
    --theme-dusk-font-l: #3afd85;

    --bg-night: url(/src/images/night.png);
    --bg-night-s: url(/src/images/night-s.png);
    --bg-night-color: #1F52B7;
    --theme-night-color: #1e3068;
    --theme-night-dark: #0B1443;
    --theme-night-op: #0b144386;
    --theme-night-accent: #e6db7d;
    --theme-night-font: #ffa047;
    --theme-night-font-l: #fddf7e;

    --bg-current: var(--bg-dawn);
    --bg-current-s: var(var(--bg-dawn-s));
    --bg-current-color: var(--bg-dawn-color);
    --theme-current-dark: var(--theme-dawn-dark);
    --theme-current-color: var(--theme-dawn-color);
    --theme-current-op: var(--theme-dawn-op);
    --theme-current-accent: var(--theme-dawn-accent);
    --theme-current-font: var(--theme-dawn-font);
    --theme-current-font-l: var(--theme-dawn-font-l);

    --p-normal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --p-strong: 'Electrolize', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --h: 'Smooch Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'Electrolize';
    src: url('./fonts/Electrolize-Regular.woff2') format('woff2'),
        url('./fonts/Electrolize-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Smooch Sans';
    src: url('./fonts/SmoochSans-Thin.woff2') format('woff2'),
        url('./fonts/SmoochSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--p-normal);
    display: grid;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    background-color: var(--bg-current-color);
}

h2, h3, h4 {
    color: var(--theme-current-font);
    font-family: var(--p-strong);
    letter-spacing: 0.05em;
    text-shadow: 0 0 0.1em var(--theme-current-font-l);
}
header {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: auto 1fr 0.25fr;
    z-index: 50;
    background-color: var(--theme-current-color);
    padding: 0.5vw 2vw 0;
    align-items: center;
    box-shadow:
        0 0.5vw color-mix(in srgb, var(--theme-current-color), #ffffff00 25%),
        0 1vw color-mix(in srgb, var(--theme-current-color), #ffffff00 40%);
    h1 {
        font-weight: bold;
        letter-spacing: 0.1em;
        font-family: var(--h);
        color: var(--theme-current-font);
        font-size: calc(2.1em + 1vw);
        text-shadow:
            0 0 0.2em var(--theme-current-font),
            0 0 0.05em #ffffffcc;
    }
}
div#header-right {
    grid-column: -2/-1;
    display: flex;
    text-align: end;
    align-items: center;
    justify-content: right;
}

div#header-right select {
    height: min-content;
    background-color: var(--theme-current-op);
    color: #FFF;
    border-radius: 6px;
    padding: 0.1rem;
    width: min-content;
}
aside#sidebar {
    overflow: auto;
    background-color: color-mix(in srgb, var(--theme-current-color), #ffffffc9 25%);
    color: #FFF;
    font-family: var(--p-strong);
    
    display: grid;
    grid-template-rows: calc(75px + 0.5vw) min-content auto auto 0.1fr min-content 50px;
    padding: 1vw;
    z-index: 9;
    width: 0;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
}
aside#sidebar details {
        display: none;
        ::marker {
            color: var(--theme-current-font-l)
        }
        summary {
            color: color-mix(in srgb, var(--theme-current-font), #FFF 60%);
        }
}
aside#sidebar.show {
    width: calc(200px + 1vw);
    position: absolute;
    z-index: 40;
    details {
        display: block;
    }
}
aside#sidebar details#projects-list {
    padding-top: 1vw;
    grid-row: 2/3;
}
aside#sidebar details#tasks-list {
    padding-top: 1vw;
    grid-row: 3/4;
}
aside#sidebar ul {
    list-style-type: none;
    padding-left: 0.3em;
}
aside#sidebar .edit-item {
    display: none;
    position: absolute;
    align-self: end;
    font-size: 0.75em;
    padding: 0 0.2em;
    border-radius: 4px;
    background-color: color-mix(in srgb, var(--theme-current-op) 75%, #ffffff00);
}
aside#sidebar li.selected-project .edit-item,
aside#sidebar li.task-item:focus .edit-item, aside#sidebar li.task-item:hover .edit-item {
    display: block;
    position: relative;
    margin: 0.5em 0.5em 0.5em auto;
}
aside#sidebar li.selected-project, aside#sidebar li.task-item:focus, li.task-item:hover {
    background-color: #ffffff31;
    border-radius: 6px;
}
aside li {
    transition: all 0.25s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.4em;
    padding-left: 0.15em;
    p {
        padding: 0.25em;
        line-height: 1.05;
    }
    img {
        margin-top: 0.1em;
        opacity: 0;
        height: 0.95em;
        width: 0.95em;
        background-color: #34305ea4;
        border-radius: 50%;
        pointer-events: none;
    }
    img:hover {
        background-color: rgba(255, 0, 0, 0.486);
    }
}
aside summary, aside li {
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.226);
}
aside li:hover {
    translate: 0 -2px;
}
@keyframes spin {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1.05)
    }
}
aside li:focus, aside li:hover, aside li.selected-project {
    img {
        opacity: 1;
        pointer-events: all;
        align-self: start;
        transition: all 0.3s linear;
    }
    img:hover {
        background-color: rgba(192, 0, 0, 0.356);
        animation: spin 0.5s infinite ease-in-out;
    }
}
div.toggle-inputs-wrapper {
    overflow: auto;
    align-self: end;
    padding: 1.5em 1.5em clamp(5em, 10vw, 15vw);
    justify-self: center;
    position: fixed;
    right: 0;
    bottom: 0;
    grid-row: 4/5;
    color: #FFF;
    border-radius: 6px 0;
    background-color: color-mix(in srgb, var(--theme-current-color), #ffffffc9 25%);
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    
    label {
        padding-top: 1em;
        opacity: 0;
    }
    input {
        margin-bottom: 0.5em;
        opacity: 0;
    }
}

div.toggle-inputs-wrapper.selected-settings {
    width: max-content;
    right: 0;
    height: min-content;
    box-shadow: -2px -2px 0px 2px var(--bg-current-color);
    opacity: 1;
    label, input {
        opacity: 1;
    }
}
div.toggle-inputs.wrapper label {
    padding-right: calc(0.2rem + 0.5vw);
}
.toggle {
    border: 3px solid white;
    border-radius: 16px;
    width: 46px;
    height: 26px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    align-items: center;
}
.toggle::after {
    position: relative;
    left: 1px;
    content: "";
    display: inline-block;
    /* margin: 0.5rem; */
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: color-mix(in srgb, var(--theme-current-accent), #FFF);
    transition: transform 0.07s linear;
}
.toggle:checked {
    background-color: color-mix(in srgb, var(--theme-current-color), #FFF);
}
.toggle:checked::after {
    transform: translate(20px);
}
@media (min-width: 1024px) {
    aside#sidebar div.toggle-inputs-wrapper, aside#sidebar div.toggle-inputs-wrapper.settings-selected {
        box-shadow: none;
        position: relative;
        background: none;
        opacity: 1;
        height: min-content;
        padding-bottom: 2vw;
        label, input {
            opacity: 1;
        }
    }
}
aside#sidebar {
    min-height: fit-content;
    overflow: auto;
    grid-row: 1/-1;
    grid-column: 1/2;
    scrollbar-color: var(--theme-current-accent) var(--theme-current-color);
}
main {
    height: 100%;
    overflow: auto;
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    background-image: image-set(
        var(--bg-current-s) 1x,   
        var(--bg-current) 2x
    );
    background-size: cover;
    background-repeat: repeat-x;
    background-position: bottom;
    scroll-behavior: smooth;
    scrollbar-color: var(--theme-current-accent) var(--theme-current-color);
}
nav {
    grid-row: 3/4;
    grid-column: 1/-1;
    height: 50px;
    background-color: var(--theme-current-color);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.menu-buttons-wrapper {
    width: 75%;
    display: flex;
    justify-content: space-around;
}
div.menu-buttons-wrapper img {
    width: 35px;
    height: 35px;
    opacity: 0.85;
}

@media (min-width: 768px) {
    div.menu-buttons-wrapper {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    nav {
        height: 34px;
    }
    aside#sidebar, aside#sidebar.show {
        position: static;
        width: calc(250px + 1vw);
        font-size: 1.1rem;
        background-color: color-mix(in srgb, var(--theme-current-color), #ffffff71 40%);
        details {
        display: block;
        }
    }
    div.menu-buttons-wrapper {
        display: none;
    }
    
}

main section#card-wrapper {
    min-height: fit-content;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    position: relative;
    border-radius: 12px;
    background-color: var(--theme-current-op);
    margin: calc(0.5rem + 1vw);
}
.card {
    --pad: 0.1em 0.3em;
    overflow: auto;
    height: 175px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    border-radius: 6px;
    line-height: 1.2;
    z-index: 5;
    user-select: none;
    touch-action: none;
    background-color: var(--theme-current-op);
    color: white;
    border: 4px double var(--theme-current-accent);
    padding: 0.5rem 0.7rem;
    box-shadow: 
        0 0 0.2em #ffffff96,
        0 0 1em #ffffff83;
    backdrop-filter: blur(4px);
    scrollbar-width: thin;
    scrollbar-color: var(--theme-current-accent) var(--theme-current-color);
    transition: height, width 0.2s ease-in-out;

    p.card-created {
        font-size: 0.7em;
        color: #ffffff98;
    }
    p.card-text, ul.card-checklist {
        background-color: #ffffff10;
        text-overflow: ellipsis;
        border-radius: 4px;
        padding: var(--pad);
        overflow: auto;
        line-height: 1.1;
        flex: 1;
        font-size: 0.9em;
        height: 5em;
    }
    div.card-time-section {
        background-color: #00000023;
        border-radius: 0 0 4px 4px;
        padding: 0.2em 0;
        font-size: 0.9em;
    }
    p.card-deadline-head {
        background-color: #00000017;
        font-size: 0.95em;
    }
    p.card-due {
        background-color: #0000001a;
        font-size: 0.9em;
    }
    p.card-due-time {
        font-size: 1em;
    }
    h4.card-header {
        line-height: 1;
    }
    p.card-priority {
        font-size: 0.9em;
    }
}
.card.type-date{
    overflow: auto;
    line-height: 1.2;
    p.card-deadline-head, p.card-priority {
        font-size: 1.1em;
    }
    div.card-time-section {
        text-align: center;
    }
    p.card-due {
        font-size: 1em;
        color: var(--theme-current-font-l);
        letter-spacing: 0.05em;
        text-shadow: 0 0 0.15em var(--theme-current-font);
    }
    p.card-due-time {
        font-weight: 600;
        letter-spacing: 0.05em;
        color: var(--theme-current-font-l);
        background-color: #00000017;
    }
    p.card-text {
        flex-shrink: 1;
        overflow: visible;
    }
}
@media (min-width: 768px) {
    .card {
        height: 250px;
        width: 225px;
        font-size: 1rem;

        h4.card-header {
            font-size: 1.2em;
            line-height: 1.2;
        }
        p.card-text {
            line-height: 1.3;
        }
        p.card-created {
        font-size: 0.8em;
        }
    }
    .card.datenote {
        div.card-time-section {
            font-size: 1em;
            line-height: 1.3;
        }
        p.card-due {
            font-size: 1.5em;
        }
        p.card-due-time {
            font-size: 1.4em;
        }
    }
}

dialog#modal-window:open {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    width: calc(300px + 1vw);
    background-color: var(--bg-current-color);
    border-radius: 12px;
    border: none;
    box-shadow: calc(2px + 0.4vw) calc(2px + 0.4vw) color-mix(in srgb, var(--theme-current-op), #FFF 15%);
}
.task-form-el, form.modal-form input {
    width: min-content;
    border-radius: 8px;
    border: none;
    margin-bottom: calc(5px + 0.3vw);
}
textarea.task-form-el {
    width: 100%;
}
div.checklist-items {
    p {
        padding-left: 0.5em;
    }
    p:last-child {
        padding-bottom: 0.5em;
    }
    p:before {
        content: "- "
    }
}
dialog img#close-modal {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
    height: calc(21px + 0.2vw);
    width: calc(21px + 0.2vw);
    z-index: 1;
    margin: calc(0.5rem + 0.2vw);
    padding: 0.2em;
    background-color: #ffffff42;
    border-radius: 50%;
}
dialog img#close-modal:hover {
    border: 2px solid #ffffffbb;
}

form.modal-form, form.modal-form .input-wrapper {
    color: #FFF;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
}

form#project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#button-wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
    width: min-content;
    display: inline-flex;
    height: min-content;
    gap: 0.5vw;
    align-self: center;
}
button.type-button {
    font-size: 0.9rem;
    color: #0000008f;
    background-color: #ffffff67;
    border: none;
    border-radius: 8px;
}
button.type-button.selected {
    color: #000;
    background-color: #ffffffdc;
    outline: 1px solid var(--theme-current-font)
}

div#due-wrapper {
    display: grid;
    label {
        grid-column: 1/-1;
    }
}
@media (min-width: 768px) {
    div#due-wrapper {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}
div#priority-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    z-index: 15;
    input[type="range"] {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 85%;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        border-radius: 4px;
        height: 0.4em;
    }
    input::-webkit-slider-runnable-track {
        height: 0.4em;
        background-color: var(--theme-current-op);
        border-radius: 4px;
    }
    input::-moz-range-track {
        height: 0.4em;
        background-color: var(--theme-current-op);
        border-radius: 4px;
    }
    input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 0.8em;
        width: 0.8em;
        border-radius: 50%;
        background-color: var(--theme-current-font);
        position: relative;
        top: -0.2em;
    }
    input::-moz-range-thumb {
        height: 0.8em;
        width: 0.8em;
        border-radius: 50%;
        background-color: var(--theme-current-font)
    }

}
div#priority-marker-labels {
    grid-column: 1/2;
    display: flex;
    font-size: 0.8em;
    width: 85%;
    justify-content: space-between;
    font-family: var(--p-strong)
}
div#priority-wrapper label#timer-label {
    grid-column: 2/3;
    grid-row: 1/2;
}
div#priority-wrapper input#timer-check {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 1.25em;
    height: 1.25em;
    background-color: white;
}

form label#timer-label, form input#timer-check {
    display: none;
}
form#date-form label#timer-label, form#date-form input#timer-check {
    display: block;
}

form label {
    font-family: var(--p-strong);
}
button {
    color: var(--theme-current-dark);
    font-family: var(--p-strong);
    font-weight: 400;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    border: none;
    justify-self: center;
    padding: 0 1em;
}
button#submit, div#delete-buttons-wrapper button, button#cancel-button, button#copy-button, button#apply-button {
    background-color: var(--theme-current-accent);
    border: 2px solid var(--theme-dawn-font);
    font-size: 1.1em;
    margin-top: 1em;
    font-family: var(--p-strong);
}
aside button {
    background-color: var(--theme-current-color);
    color: #FFF;
    margin: 0.25em 1em;
    box-shadow:
    1px 1px 2px #00000036,
    1px 1px 6px #00000065;
    transition: all 0.05s ease-in-out;
}

aside button:hover, button#backup:hover, dialog button:hover {
    box-shadow: none;
    animation: buttonWave 0.7s ease-in-out infinite;
}
@keyframes buttonWave {
    0%, 100% {
        translate: 0;
    }
    25% {
        translate: 0 2%
    }
    50% {
        translate: 0 11%;
    }
    75% {
        translate: 0 4%
    }
    90% {
        translate: 0 2%
    }
}
dialog button {
    box-shadow:
    1px 1px 2px #00000036,
    1px 1px 6px #00000065;
    transition: all 0.2s ease-in-out;
}
form#note-form button:hover, form#project-form button:hover {
    border-color: white;
}
form#note-form button:active, form#project-form button:active {
    background-color: color-mix(in srgb, var(--theme-current-accent), #FFF 40%);
}
dialog form button:hover {
    animation: buttonWave 0.55s infinite;
    border-color: #FFF;
}
aside button:active {
    background-color: #ffffff49;
}
form#project-form {
    display: flex;
    gap: 1vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
        font-size: 1.1em;
    }
    button {
        margin: 0.5em 0 1em;
    }
}
form#confirm-delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1em;
    gap: clamp(0.75em, 1vw, 1.75em);
}
form#confirm-delete-form p, form#error-no-form p {
    font-family: var(--p-strong);
    font-size: 1.2em;
    font-weight: 500;
    margin-top: calc(-10%)
}

div#delete-buttons-wrapper {
    display: flex;
    gap: clamp(0.2em, 1vw, 1em);
    flex-wrap: wrap;
    justify-content: center;
    button {
        margin-top: 0;
    }
}
dialog#modal-window #cancel-button {
    background-color: color-mix(in srgb, var(--theme-current-accent), #FFF 75%)
}
article.selected-card, article.user-selected-card {
    z-index: 15;
    height: 325px;
    width: 275px;
}
article.user-selected-card {
    outline: 3px solid #ffffffc7;
}
form#error-no-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(1.2rem + 0.5vw) calc(0.5em + 0.5vw);
    button {
        margin-top: calc(0.5rem + 0.5vw);
        justify-self: start;
    }
}

article.card {
    transition: translate 0.2s;
    li {
        font-size: 1rem;
        padding: 0.3em 0.5em;
        background-color: #ffffff1a;
        border-radius: 4px;
    }
    li.checked {
        text-decoration: line-through;
        color: #8f8f8ffb;
    }
}
article.card:hover {
    translate: 2.5px -5px;
}
button#backup {
    background-color: var(--theme-current-op);
    font-size: 1.25em;
    padding: 0.2em 1em;
    grid-row: 5/6;
}
form#backup-form {
    width: 100%;
    p {
        font-family: var(--p-strong);
        text-wrap: pretty;
        padding: 0 0.5vw 0.5vw;
    }
}
form#backup-form button.backup-button {
    width: 75%;
    border: 2px solid #ffffffc5;
}
button#apply-button {
    margin-top: 0.5em;
    background-color: #ff395aa2;
    color: #FFF;
}
@keyframes holdApply {
    0% {
        background-color: #ff395aa2;
    }
    100% {
        color: #000;
        background-color: var(--theme-current-font);
        border-color: var(--theme-current-font-l);
    }
}
form#backup-form button#apply-button:active {
    animation: holdApply 3s linear 0.1s 1;
}
@keyframes copy {
    0% {
        background-color: color-mix(in srgb, var(--theme-current-accent), #FFF 75%)
    }
    50% {

        background-color: #FFF;
    }
    100% {
        background-color: color-mix(in srgb, var(--theme-current-accent), #FFF 75%)

    }
}
button#copy-button {
    background-color: color-mix(in srgb, var(--theme-current-accent), #FFF 75%);
}
button#copy-button:focus {
    animation: copy 1s linear 0.1s 1;
}
textarea#backup-text {
    width: 100%;
}
.link-wrapper {
    display: none;
    grid-row: 6/7;
    font-size: 0.7em;
    flex-direction: column;
    padding: 1.25vw 0 0;
    p, a {
        align-self: start;
        color: #ffffffc5;
        text-decoration: none;
        transition: color 0.4s ease-in-out;
    }
    a:hover {
        color: #FFF;
        text-decoration: underline;
    }
}
aside#sidebar.show {
    .link-wrapper {
        display: flex;
    }
}
@media (min-width: 1024px) {
.link-wrapper {
    display: flex;
    align-items: center;
    }
}