:root {
    --bg-dawn: url(/src/images/dawn.png);
    --bg-dawn-color: #CD90B9;
    --theme-dawn-color: #474476;
    --theme-dawn-dark: #8C4968;
    --theme-dawn-op: #0b144394;
    --theme-dawn-accent: #f79aef;
    --theme-dawn-font: #fabf68;
    --theme-dawn-font-l: #fa9fca;

    --bg-dusk: url(/src/images/dusk.png);
    --bg-dusk-color: #4888B7;
    --theme-dusk-dark: #202D40;
    --theme-dusk-color: #151f53;
    --theme-dusk-op: #202d40c5;
    --theme-dusk-accent: #7efaad;
    --theme-dusk-font: #da7cf7;
    --theme-dusk-font-l: #3afd85;

    --bg-night: url(/src/images/night.png);
    --bg-night-color: #1F52B7;
    --theme-night-color: #1e3068;
    --theme-night-dark: #0B1443;
    --theme-night-op: #0b144386;
    --theme-night-accent: #e6db7d;
    --theme-night-font: #ffa047;
    --theme-night-font-l: #fddf7e;

    --bg-current: var(--bg-dawn);
    --bg-current-color: var(--bg-dawn-color);
    --theme-current-dark: var(--theme-dawn-dark);
    --theme-current-color: var(--theme-dawn-color);
    --theme-current-op: var(--theme-dawn-op);
    --theme-current-accent: var(--theme-dawn-accent);
    --theme-current-font: var(--theme-dawn-font);
    --theme-current-font-l: var(--theme-dawn-font-l);

    --p-normal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --p-strong: 'Electrolize', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --h: 'Smooch Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'Electrolize';
    src: url('./fonts/Electrolize-Regular.woff2') format('woff2'),
        url('./fonts/Electrolize-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Smooch Sans';
    src: url('./fonts/SmoochSans-Thin.woff2') format('woff2'),
        url('./fonts/SmoochSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--p-normal);
    display: grid;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    background-color: var(--bg-current-color);
}
@media (min-width: 768px) {
    body {
    }
}
h2, h3, h4 {
    color: var(--theme-current-font);
    font-family: var(--p-strong);
    letter-spacing: 0.05em;
    text-shadow: 0 0 0.1em var(--theme-current-font-l);
}
header {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: auto 1fr 0.25fr;
    z-index: 10;
    background-color: var(--theme-current-color);
    padding: 0.5vw 2vw 0;
    align-items: center;
    box-shadow:
        0 0.5vw color-mix(in srgb, var(--theme-current-color), #ffffff00 25%),
        0 1vw color-mix(in srgb, var(--theme-current-color), #ffffff00 40%);
    h1 {
        font-weight: bold;
        letter-spacing: 0.1em;
        font-family: var(--h);
        color: var(--theme-current-font);
        font-size: calc(2.1em + 1vw);
        text-shadow:
            0 0 0.2em var(--theme-current-font),
            0 0 0.05em #ffffffcc;
    }
}
div#header-right {
    grid-column: -2/-1;
    display: flex;
    text-align: end;
    align-items: center;
}
div#input-wrapper {
    display: none;
    color: #FFF;
    padding: 1vw; 
}
div#header-right label {
    padding-right: calc(0.2rem + 0.5vw);
}
div#header-right .toggle {
    border: 3px solid white;
    border-radius: 16px;
    width: 46px;
    height: 26px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    align-items: center;
}
div#header-right .toggle::after {
    position: relative;
    left: 1px;
    content: "";
    display: inline-block;
    /* margin: 0.5rem; */
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: color-mix(in srgb, var(--theme-current-accent), #FFF);
    transition: transform 0.07s linear;
}
div#header-right .toggle:checked {
    background-color: color-mix(in srgb, var(--theme-current-color), #FFF);
}
div#header-right .toggle:checked::after {
    transform: translate(20px);
}
/* .toggle:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0.4);
} */

div#header-right select {
    height: min-content;
    background-color: var(--theme-current-op);
    color: #FFF;
    border-radius: 6px;
    padding: 0.1rem;
    width: min-content;
}

@media (min-width: 768px) {
    div#header-right div#input-wrapper {
        display: flex;
        align-items: start;
    }
}
aside#sidebar {
    grid-row: 1/-1;
    grid-column: 1/2;
    width: 0;
}
main {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    background-image: var(--bg-current);
    background-repeat: repeat-x;
    background-position: bottom;
    transition: background-image 0.3s ease-in-out;
}
nav {
    grid-row: 3/4;
    grid-column: 1/-1;
    height: 50px;
    background-color: var(--theme-current-color);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.menu-buttons-wrapper {
    width: 75%;
    display: flex;
    justify-content: space-around;
}
div.menu-buttons-wrapper img {
    width: 35px;
    height: 35px;
    opacity: 0.85;
}

@media (min-width: 768px) {
    div.menu-buttons-wrapper {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    nav {
        height: 25px;
    }
    aside#sidebar {
        width: calc(250px + 1vw);
        background-color: color-mix(in srgb, var(--theme-current-color), #ffffff73 40%);
        display: grid;
        grid-template-rows: 75px min-content min-content min-content;
        gap: 2vw;
        font-size: 1.2rem;
        padding: 1vw;
        color: #FFF;
        font-family: var(--p-strong);
    }
    aside#sidebar details {
        ::marker {
            color: var(--theme-current-font-l)
        }
    }
    aside#sidebar ul {
        list-style-type: none;
    }
    aside#sidebar details#projects-list {
        grid-row: 2/3;
    }
    aside#sidebar details#tasks-list {
        grid-row: 3/4;
    }
    div.menu-buttons-wrapper {
        display: none;
    }
}

main section#card-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 12px;
    background-color: var(--theme-current-op);
    margin: calc(0.5rem + 1vw);
}
.card {
    --pad: 0.1em 0.3em;

    overflow: auto;
    height: 175px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    border-radius: 6px;
    line-height: 1.2;
    z-index: 5;
    user-select: none;
    touch-action: none;
    background-color: var(--theme-current-op);
    color: white;
    border: 4px double var(--theme-current-accent);
    padding: 0.5rem 0.7rem;
    box-shadow: 
        0 0 0.2em #ffffff96,
        0 0 1em #ffffff83;
    backdrop-filter: blur(4px);
    scrollbar-width: thin;
    scrollbar-color: var(--theme-current-accent) var(--theme-current-color);
    p.card-created {
        font-size: 0.7em;
        color: #ffffff98;
    }
    p.card-text {
        background-color: #ffffff10;
        text-overflow: ellipsis;
        border-radius: 4px;
        padding: var(--pad);
        overflow: auto;
        line-height: 1.1;
        flex: 1;
        font-size: 0.9em;
        height: 5em;
    }
    div.card-time-section {
        background-color: #00000023;
        border-radius: 0 0 4px 4px;
        padding: 0.2em 0;
        font-size: 0.9em;
    }
    p.card-deadline-head {
        background-color: #00000017;
        font-size: 0.95em;
    }
    p.card-due {
        background-color: #0000001a;
        font-size: 0.9em;
    }
    p.card-due-time {
        font-size: 1em;
    }
    h4.card-header {
        line-height: 1;
    }
    p.card-priority {
        font-size: 0.9em;
    }
}
.card.datenote {
    overflow: auto;
    line-height: 1.2;
    div.card-time-section {
        text-align: center;
    }
    p.card-due {
        font-size: 1em;
        color: var(--theme-current-font-l);
        font-weight: bold;
        letter-spacing: 0.05em;
        text-shadow: 0 0 0.15em var(--theme-current-font);
    }
    p.card-due-time {
        font-weight: 600;
        letter-spacing: 0.05em;
        color: var(--theme-current-font-l);
        background-color: #00000017;
    }
    p.card-text {
        flex-shrink: 1;
        overflow: visible;
    }
}
@media (min-width: 768px) {
    .card {
        height: 250px;
        width: 225px;
        font-size: 1rem;

        h4.card-header {
            font-size: 1.2em;
            line-height: 1.2;
        }
        p.card-text {
            line-height: 1.3;
        }
        p.card-created {
        font-size: 0.8em;
        }
    }
    .card.datenote {
        div.card-time-section {
            font-size: 1em;
            line-height: 1.3;
        }
        p.card-due {
            font-size: 1.5em;
        }
        p.card-due-time {
            font-size: 1.4em;
        }
    }
}

dialog#modal-window:open {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    width: calc(300px + 1vw);
    /* position: absolute;
    top: 0;
    left: 0; */
    background-color: var(--bg-current-color);
    border-radius: 12px;
    border: none;
    box-shadow: calc(2px + 0.4vw) calc(2px + 0.4vw) color-mix(in srgb, var(--theme-current-op), #FFF 15%);
}
.task-form-el {
    width: min-content;
    border-radius: 8px;
    border: none;
    margin-bottom: calc(5px + 0.3vw);
}
textarea.task-form-el {
    width: 100%;
}
dialog img#close-modal {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
    height: calc(21px + 0.2vw);
    width: calc(21px + 0.2vw);
    z-index: 1;
    margin: calc(0.5rem + 0.2vw);
    padding: 0.2em;
    background-color: #ffffff42;
    border-radius: 50%;
}
dialog img#close-modal:hover {
    border: 2px solid #ffffffbb;
}

form.modal-form .input-wrapper {
    color: #FFF;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
}

div#button-wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
    width: min-content;
    display: inline-flex;
    height: min-content;
    gap: 0.5vw;
    align-self: center;
}
button.type-button {
    font-size: 0.9rem;
    color: #0000008f;
    background-color: #ffffff67;
    border: none;
    border-radius: 8px;
}
button.type-button.selected {
    color: #000;
    background-color: #ffffffdc;
    outline: 1px solid var(--theme-current-font)
}

div#due-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    label {
        grid-column: 1/-1;
    }
}
div#priority-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    z-index: 15;
    input[type="range"] {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 85%;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        border-radius: 4px;
        height: 0.4em;
    }
    input::-webkit-slider-runnable-track {
        height: 0.4em;
        background-color: var(--theme-current-op);
        border-radius: 4px;
    }
    input::-moz-range-track {
        height: 0.4em;
        background-color: var(--theme-current-op);
        border-radius: 4px;
    }
    input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 0.8em;
        width: 0.8em;
        border-radius: 50%;
        background-color: var(--theme-current-font);
        position: relative;
        top: -0.2em;
    }
    input::-moz-range-thumb {
        height: 0.8em;
        width: 0.8em;
        border-radius: 50%;
        background-color: var(--theme-current-font)
    }

}
div#priority-marker-labels {
    grid-column: 1/2;
    display: flex;
    font-size: 0.8em;
    width: 85%;
    justify-content: space-between;
    font-family: var(--p-strong)
}
div#priority-wrapper label#timer-label {
    grid-column: 2/3;
    grid-row: 1/2;
}
div#priority-wrapper input#timer-check {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 1.25em;
    height: 1.25em;
    background-color: white;
}

form label#timer-label, form input#timer-check {
    display: none;
}
form#date-form label#timer-label, form#date-form input#timer-check {
    display: block;
}

form label {
    font-family: var(--p-strong);
}
button {
    color: var(--theme-current-dark);
    font-family: var(--p-strong);
    font-weight: 400;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    justify-self: center;
    padding: 0 1em;
}
button#submit {
    background-color: var(--theme-current-accent);
    border: 2px solid var(--theme-dawn-font);
    font-size: 1.1em;
    margin-top: 1em;
}
button#create-project, button#create-task {
    background-color: var(--theme-current-color);
    color: #FFF;
}